@charset "utf-8";

body{
    background-color: rgb(224, 134, 187);
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div#index{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}
div#index h1{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}
div#index header{
    border-bottom: 1px solid gray;
}
div#index input{
    width: 170px;
    height: 30px;
    display: block;
    position: relative;
    top: 80px;
    left: 35%;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}
div#index select{
    position: relative;
    top: 25px;
    left: 37%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}
div#index input[value="ENTRAR"]{
    width: 70px;
}
div#erro {
    text-align: center;
}