@charset "utf-8";
body{
    background-color: rgb(224, 134, 187);
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div#vendedor {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}
div#vendedor h1{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
}
div#vendedor header{
    border-bottom: 1px solid gray;
}
div#vendedor select{
    width: 250px;
    height: 30px;
    position: relative;
    top: 25px;
    left: 23%;
}
div#vendedor input{
    display: block;
    position: relative;
    top: 120px;
    width: 130px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    height: 30px;
    margin: 5px;
    left: 32%;
}
div#vendedor input[value="CONFIRMAR"]{
    width: 100px;
    left: 35%;
}
div#vendedor input[value="SAIR"]{
    top: 200px;
    width: 90px;
    left: 35%;
}